*{
  margin: 0;
  padding: 0;
}


.repos :is(ul, li){
  list-style: none;
  margin: 1rem;
}


.repos :is(a) {
  /* text-decoration: none; */
  background: linear-gradient(90deg, blue, red);
  background-clip: text;
  color: transparent;
  /* text-underline-position: under; */
}

a:is(:hover){
  color: dodgerblue;
}

.App{
  text-decoration: none;
  background: linear-gradient(90deg,#9896b3, #433d6e);
}
.repos{
  display: flex;
  flex-direction: column;
  align-content: center;
  font-size: 2rem;
  text-align: center;
  min-height: 100vh;
}

@media screen and (max-width: 767px) {
  .repos{
    font-size: 6vw;
  }
  
}